* { padding: 0; margin: 0; }
body {
  background-image: url("../images/narutoSasukeBackground.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-color: black;
}

.canvas-main-container{
  position: absolute;
  /* background-color: pink; */
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas-container{
  margin: auto auto;
  align-content: center;
  display: flex;
  flex-direction: column;
}

a.github:visited{
  color: #F88F14;
}

a.github{
  color: #F88F14;
}

a.linkedIn{
  color: #9200E4;
}

a.linkedIn:visited{
  color: #9200E4;
}

img{
  margin: 0 auto;
  width: 350px;
  height: 50px;
}

canvas { 
  background: #eee; 
  display: block;
  border: 1px solid black; 
  margin-top: 36px;
}

.menu-main-container{
  position: absolute;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .95;
  margin-top: 36px;
}

.logo-placement{
  width: 600px;
  height: 70px;
  background-color: white;
  opacity: 0;
}

.menu-container-bg{
  color: white;
  font-weight: 700;
  background-color: black;
  width: 600px;
  height: 605px;
}

.start-custom{
  display: flex;
  align-items: center;
  width: 600px;
  height: 601px;
}

.start-container-contents{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 300px;
}

.start-text{
  font-size: 30px;
}

.instructions-container-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px 0 40px 0;
}

.instructions-title{
  padding-top: 30px;
}

.controls-main-container{
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.player-controls-container{
  font-size: 18;
  width: 145px;
}
.controls-instructions-component{
  display: flex;
  align-items: center;
  padding: 10px;
}

.key-images{
  width: 30px;
  height: 30px;
  border: 1px solid white;
}
.instructions-text{
  margin-left: 10px;
  font-size: 15px;
  font-weight: 400;
}

.clicking-statement{
  font-size: 20px;
  padding-top: 20px;
}

.profile-main-container{
  display: flex;
  justify-content: center;
  color: white;
  width: 600px;
}

.profile-container{
  display: flex;
  justify-content: space-between;
  color: white;
  width: 300px;
  margin: 40px 0 60px 0;
  font-size: 40px;
}